---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/v1/events":
    post:
      summary: Creates an event
      tags:
      - Events
      parameters: []
      responses:
        '201':
          description: created
          content: {}
        '422':
          description: invalid request
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                date:
                  type: string
                time:
                  type: string
              required:
              - name
              - description
              - date
              - time
  "/v1/events/{id}":
    get:
      summary: Retrieves an Event
      tags:
      - Events
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: event found
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  time:
                    type: string
                  date:
                    type: string
        '404':
          description: event not found
          content: {}
  "/v1/tickets":
    post:
      summary: Creates a ticket
      tags:
      - Tickets
      parameters: []
      responses:
        '201':
          description: created
          content: {}
        '422':
          description: invalid request
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                quantity:
                  type: integer
                status:
                  type: integer
                price:
                  type: float
                event_id:
                  type: integer
              required:
              - name
              - quantity
              - price
              - status
              - event_id
    get:
      summary: retrieves tickets
      tags:
      - Tickets
      responses:
        '200':
          description: success
          content: {}
servers:
- url: http://{defaultHost}:3000
  variables:
    defaultHost:
      default: localhost
